# flagfile for the roq-binance-futures gateway

--name=binance-futures
#--config_file=/usr/local/etc/roq-binance-futures/config.toml
#--event_log_dir=/var/lib/roq/data
#--client_listen_address=/run/roq/roq-binance-futures.sock
#--metrics_listen_address=/run/roq/metrics/roq-binance-futures.sock
#--auth_keys_file=/usr/local/etc/roq/keys.json
#--auth_cache_dir=/var/lib/roq/cache
--rest_uri=https://fapi.binance.com
--ws_uri=wss://fstream.binance.com/ws
#--loop_cpu_affinity=1
--loop_sleep=500ns
--loop_timer_freq=2500ns
--event_log_iso_week=False
--event_log_symlink=True
--api=dapi
